#calculator {
    border: 1px solid rgb(40, 38, 38);
    border-radius: 5px;
    height: 700px;
    width: 500px;
    margin: auto;     /*To display calculator at center*/
    background-color:rgb(184, 225, 136);
}

#cal-input{
    margin: 20px;
    width: 460px;
    font-size: 80px;   /*height*/
}

.buttons-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: larger;
    background-color:rgb(231, 170, 241);
}